#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#github-provided Scheme ignore file:
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# BOSS XTRAS
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Text Backup Files #
*.s[a-w][a-z]
*~
\#*\#
.\#*

# OSX Files #
.DS_Store
._*
_*
.Spotlight*
.Trashes

# Windows Files #
Thumbs.db
ehthumbs.db

# Filenames with special characters
**/*[\\/\:;*?!'"<>|$º•¶§∞¢£]*
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~



